@font-face {
    font-family: 'Li Zahir Rayhan Unicode';
    src: url('LiZahirRayhanUnicode.eot');
    src: url('LiZahirRayhanUnicode.eot?#iefix') format('embedded-opentype'),
        url('LiZahirRayhanUnicode.woff2') format('woff2'),
        url('LiZahirRayhanUnicode.woff') format('woff'),
        url('LiZahirRayhanUnicode.ttf') format('truetype'),
        url('LiZahirRayhanUnicode.svg#LiZahirRayhanUnicode') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SolaimanLipi';
    src: url('SolaimanLipi.eot');
    src: url('SolaimanLipi.eot?#iefix') format('embedded-opentype'),
        url('SolaimanLipi.woff2') format('woff2'),
        url('SolaimanLipi.woff') format('woff'),
        url('SolaimanLipi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Li Sirajee Sheikh Unicode';
    src: url('LiSirajeeSheikhUnicode.eot');
    src: url('LiSirajeeSheikhUnicode.eot?#iefix') format('embedded-opentype'),
        url('LiSirajeeSheikhUnicode.woff2') format('woff2'),
        url('LiSirajeeSheikhUnicode.woff') format('woff'),
        url('LiSirajeeSheikhUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

