.inner_banner_section {
    background: rgba(221, 232, 254, 0.5);
    padding: 40px 0;
}

.inner_banner_content h1 {
    color: rgb(51, 52, 160);
    padding-bottom: 10px;
    font-size: 45px;
    font-weight: 600;
}

.bread_cam span:nth-child(2) {
    position: relative;
    padding-left: 17px;
}

.bread_cam span:nth-child(2)::after {
    content: "/";
    left: 0;
    position: absolute;
    top: -10px;
    font-size: 30px;
}

.bread_cam span a {
    font-size: 24px;
    color: #609513;
}

.bread_cam span a:hover {
    text-decoration: underline !important;
}


/* sinlge box section  */

.location_section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.single_location_content {
    text-align: left;
    border-radius: 15px;
    /* border: 1px solid  #8bc643 ; */
    /* box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 7%); */
}

.single_location_content h2 {
    font-size: 30px;
    font-weight: 600;
    /* text-align: center; */
    color: rgb(51, 52, 160);
}

.location_img img {
    /* border-radius: 15px 15px 0px 0; */
}


/* .location_img {
    margin-bottom: 20px;
} */

.single_location_content h2 {
    padding-bottom: 5px;
}

.location_content {
    padding: 0 15px 15px 15px;
}

.name_team a {
    color: rgb(141, 198, 63);
}

.name_team a:hover {
    text-decoration: underline !important;
}


/* .single_location{
    margin-bottom: 30px;
} */


/* sinlge box section  */

@media all and (max-width:980px) {
    .single_location_content h2 {
        font-size: 24px;
    }
    .location_content p {
        font-size: 18px;
    }
    .inner_banner_content h1 {
        font-size: 30px;
    }
}


/* team section   */

.single_team {
    text-align: center;
}

.team_image img {
    border-radius: 50%;
    margin-bottom: 15px;
}

.team_content h3 {
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 700;
    color: rgb(51, 52, 160);
}

.team_content p {
    font-weight: 600;
    color: #747373;
}

.tam_section {
    padding: 50px 0;
    background: rgb(235, 240, 255);
}

.team_image {
    max-width: 150px;
    margin: 0 auto;
}

.single_team_area {
    margin-bottom: 30px;
}

.team_header {
    text-align: center;
    margin-bottom: 50px;
}

.team_header h2 {
    color: rgb(51, 52, 160);
    font-size: 40px;
    font-weight: 600;
}

.white_team {
    background: transparent;
}


/* team section   */

.align_items_cmn {
    align-items: center;
}


/* union team  */

.unioun_team ul li {
    display: inline;
    margin-right: 5px;
}

.unioun_team ul li a {
    color: rgb(141, 198, 63);
    text-transform: capitalize;
}

.unioun_team ul {
    padding-left: 0;
    margin-bottom: 0;
}

.unioun_team {
    display: flex;
    flex-wrap: wrap;
}

.unioun_team p {
    margin-right: 10px;
    display: inline-block;
}

@media all and (max-width:991px) {
    .colum-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .single_location {
        margin-bottom: 0;
    }
    .location_content {
        padding: 0;
    }
    .margin_bottom_cmn {
        margin-bottom: 30px;
    }
    .location_img {
        margin-bottom: 20px;
    }
}

@media all and (min-width:992px) {
    .location_section .margin_bottom_cmn {
        margin-bottom: 50px;
    }
}

.section_title h2 {
    color: rgb(51, 52, 160);
    padding-bottom: 10px;
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
}

.section_title {
    text-align: center;
    margin-bottom: 50px;
}

@media all and (max-width:991px) {
    .section_title h2 {
        font-size: 30px;
    }
    .section_title {
        margin-bottom: 25px;
    }
}

.bg_cmn_g {
    background-color: rgb(235, 240, 255);
}


/* union team  */